<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
<h1>hello</h1>
</header>
<body>
          <% if (error) { %>
            <h1><%= error %> </h1>
          <% } %>
</body>
</html> 